/* Estilo da Pagina cadastro*/


* {
  margin: 0;
  padding: 0;
}




body{
 
  align-items: center;
  text-align: center;
  margin-top: 100px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow-y: hidden; 

}



#container{
  display: flex;
  
  

}



#model{
  text-align: left;
  height: 25px;
  width: 220px;
  border: 2px solid black ;
  padding: 3px;
  box-sizing: content-box;
  border-radius: 20px 10px;
}

#board{
  text-align: left;
  height: 25px;
  width: 220px;
  border: 2px solid black ;
  padding: 3px;
  box-sizing: content-box;
  border-radius: 20px 10px;
}



#year{
  text-align: left;
  height: 25px;
  width: 220px;
  border: 2px solid black ;
  padding: 3px;
  box-sizing: content-box;
  border-radius: 20px 10px;
}

#botao{
  border-style: hidden;
   
  padding: 15px;
  text-decoration: none;  
  border-radius: 30px 30px;
  box-shadow: 3px 3px 3px;
  
  
}

#model::-webkit-input-placeholder{
margin: 10px 25px;
width: 200px;
display: block;
border: none;
padding: 10px 0;
border-bottom: solid 1px black;
-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, black 4%);
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, black 4%);
background-position: -200px 0;
background-size: 200px 100%;
background-repeat: no-repeat;
color: black;;
}

#board::-webkit-input-placeholder{
  margin: 10px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px black;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, black 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, black 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: black;;
}

#year::-webkit-input-placeholder{
  margin: 10px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px black;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, black 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, black 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: black;;
}



/* Estilo da Pagina reservas*/



#resultReservas{
  position: relative;
  left: 2px;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  min-height: 300px;
  min-width: 422px;
  overflow-x: hidden; 
  overflow-y: scroll; 
  white-space: nowrap;
  

}


#form{
  width: auto;
  padding: 10px;
  
}
#reserve_outset{
  margin: 10px 25px;
  width: 200px;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px black;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, black 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, black 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: black;;
 
}
#reserve_last{
  margin: 10px 25px;
  width: 200px;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px black;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, black 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, black 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: black;;
   
}


#reservas{
  border-style: hidden;  
  padding: 15px;
  text-decoration: none;  
  border-radius: 30px 30px;
  box-shadow: 3px 3px 3px;
}

#container{
  display: flex;
  background-color: white;
}


#for{
  border-radius: 50px;
}


#tit{
  position: relative;
  left: 270px;
}


nav {
 
  width: 300px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffca28;
}

a:hover { background: #ffe082; }

a:active { background: #ffca28; }

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }

.navicon{
  position: relative;
  background-color: aqua;
  
}





/* Estilo da tabela */


#resultReservas{
  position: relative;
  right: 70px;
  height: 100PX;
  bottom: 50px;
  
}


#op {
  position: relative;
  right: 250px;
  bottom: 0%;
  width:162%;
  margin:0 auto;
  border:0;
  box-shadow: 0 5px 30px darkgrey;
  border-spacing: 0;
  
  
  }
  
  #op thead th{
    width: 10%;
    font-weight: bold;
    background-color: black;
    color:white;
    padding:5px 10px;
    
  }
  
  #op tr td{
    width: 10%;
    padding:5px 10px;
    text-align: center;
    cursor: pointer;
    
  }
  
  #op tr td:last-child{
  text-align: center;
  }
  
  #op tr:nth-child(odd){
  background-color: #eee;
  }
  
  #op tr:hover td{
  background-color: #feffb7;
  }
  
  #op tr.selecionado td{
  background-color: #aff7ff;
  }
  